.ongoing-users {
  border-radius: 8px;
  height: 200px;
  width: 100%;
}
.ongoing-rank {
  width: 200px;
  position: absolute;
  bottom: -30px;
  left: -10px;
}

.finished-stocks {
  height: 100px;
  border-radius: 8px;
}

iframe {
  will-change: transform;
  transform: translateZ(0);
}
